<div class="amp-dc-splitBlock{{#unless split}} full-size{{/unless}}">
    {{#each content}}
    <div class="amp-dc-split-part{{#if ../split}} amp-dc-size-{{itemAt (split ../split "/") @index}}{{else}} amp-dc-size-50{{/if}}">
        <div class="amp-dc-split-part-wrap">
            {{#if (test this._meta.schema (toRegex ".*/rich-text")) ~}}
            {{> amp-template-rich-text }}
            {{~/if}}

            {{#if (test this._meta.schema (toRegex ".*/video")) ~}}
            {{> amp-template-video }}
            {{~/if}}

            {{#if (test this._meta.schema (toRegex ".*/image")) ~}}
            <div class="amp-dc-poi-image">
                {{> amp-template-image image=this}}
            </div>
            {{~/if}}
            {{#if (test this._meta.schema (toRegex ".*/advanced-banner.json")) ~}}
            {{> amp-template-advanced-banner }}
            {{~/if}}

            {{#if (test this._meta.schema (toRegex ".*/simple-image-banner.json")) ~}}
            {{> amp-template-simple-image-banner-loclaised }}
            {{~/if}}

            {{#if (test this._meta.schema (toRegex ".*/simple-banner.json")) ~}}
            {{> amp-template-advanced-banner }}
            {{~/if}}

            {{#if (test this._meta.schema (toRegex ".*/card")) ~}}
            {{> amp-template-card }}
            {{~/if}}

        </div>
    </div>
    {{/each}}
</div>
